* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app__header {
    background: url(../assets/img/others/hotel.jpg) top center / cover no-repeat;
    height: 100vh;
    position: relative;
}

.app__header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 100px;
    text-shadow: -4px 2px 4px #000000;
    transform: translate(-50%, -50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}