/* Mobile & tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .app__nav,
    .app__nav-name-icon {
        height: 80px;
    }

    .app__nav-bars-btn {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        font-size: 32px;
        padding: 8px;
        color: var(--white-color);
        display: block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .app__title > h1 {
        font-size: 44px;
    }

    .app__title > h2 {
        font-size: 28px;
    }

    .app__search-list {
        height: 48px;
    }

    .app__search-item {
        font-size: 12px;
    }

    .app__search-item:nth-child(2), .app__search-item:nth-child(3) {
        width: 88px;
    }

    .app__search-item > input {
        width: 160px;
        font-size: 12px;
    }

    .app__search-item > input[type=date] {
        padding-left: 0;
        min-width: 80px;
    }

    .app__search-btn {
        padding: 8px 16px;
        font-size: 12px;
    }

    .app__search-quantity {
        min-width: 100px;
    }

    .app__search-history {
        top: calc(100% + 12px);
    }

    .app__search-history-heading {
        font-size: 12px;
    }

    .app__search-history-item {
        height: 24px;
    }

    .app__search-history-item > a {
        font-size: 12px;
        line-height: 24px;
    }

    .box-quantity {
        width: 124%;
        padding: 8px;
    }

    .box-quantity__item {
        margin-bottom: 12px;
    }

    .box-quantity__item div {
        min-width: 88px;
    }

    .btn-minus-people, 
    .btn-add-people, 
    .btn-minus-room, 
    .btn-add-room {
        min-width: 28px;
        min-height: 28px;
    }

    .btn-quantity {
        font-size: 12px;
    }

    .app__categories-title {
        font-size: 24px;
    }

    .app__category-item {
        margin-bottom: 16px;
    }

    .app__category-item > figcaption {
        font-size: 12px;
    }

    .app__category-item-icon {
        font-size: 24px;
        padding-bottom: 8px;
    }

    .app__content-title, 
    .app__destinations-title {
        font-size: 24px;
    }

    .app__margin-top-28 {
        text-align: center;
    }

    .app__selection-item:nth-child(3),
    .app__selection-item:nth-child(4) {
        margin-top: 16px;
    }

    .app__selection-item-desc {
        left: 40px;
    }

    .app__background-theme-desc {
        position: absolute;
        top: 50%;
        left: 60px;
        transform: translateY(-50%);
        color: var(--white-color);
        line-height: 1.5;
    }
    
    .app__background-theme-title {
        font-size: 32px;
    }
    
    .app__background-theme-detail {
        font-size: 20px;
        font-weight: 300;
    }

    .app__inspiration-item {
        line-height: 1.5;
    }

    .app__inspiration-item__img {
        width: 100%;
        height: 100%;
        padding: 0;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .app__inspiration-item-title {
        color: var(--black-color);
        font-size: 16px;
        padding-top: 4px;
        display: block;
    }
    
    .app__inspiration-item-desc {
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        display: block;
    }

    .app__inspiration-item-view {
        font-size: 12px;
        padding-bottom: 4px;
    }

    .app__footer-contact-input {
        width: 444px;
        height: 48px;
        margin: 16px auto 24px;
    }

    .app__footer-input > input {
        width: 225px;
        font-size: 12px;    
        padding-left: 8px;
    }

    .app__footer-btn {
        padding-right: 8px;
    }

    .app__footer-list-item-link {
        font-size: 12px;
    }

    .app__footer-copyright {
        padding-top: 8px;
        padding-bottom: 20px;
    }
}

/* Mobile*/
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .app__nav-name-icon {
        margin-left: 16px;
    }

    .app__title {
        padding: 0 16px;
    }

    .app__title > h1 {
        font-size: 24px;
    }

    .app__title > h2 {
        font-size: 16px;
    }

    .app__search-list {
        height: 32px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .app__search-item {
        font-size: 6px;
    }

    .app__search-item:nth-child(2), 
    .app__search-item:nth-child(3) {
        width: 56px;
    }

    .app__search-item > input {
        width: 80px;
        font-size: 6px;
    }

    .app__search-item > input[type=date] {
        padding-left: 0;
        font-size: 6px;
    }

    .app__search-btn {
        font-size: 6px;
        padding: 6px 12px;
    }

    .app__search-history {
        top: calc(100% + 8px);
    }

    .app__search-history-heading {
        font-size: 6px;
    }

    .app__search-history-item {
        height: 12px;
    }    

    .app__search-history-item > a {
        font-size: 6px;
        line-height: 12px;
    }

    .app__search-quantity {
        min-width: 68px;
    }

    .box-quantity {
        padding: 6px;
    }

    .box-quantity__item {
        margin-bottom: 8px;
    }

    .box-quantity__item div {
        min-width: 60px;
    }

    .btn-minus-people, 
    .btn-add-people, 
    .btn-minus-room, 
    .btn-add-room {
        min-width: 16px;
        min-height: 16px;
    }

    .btn-quantity {
        font-size: 8px;
        padding: 4px;
    }

    .app__categories-title {
        font-size: 16px;
    }

    .app__category-list {
        padding-top: 16px;
    }

    .app__category-item {
        margin-bottom: 4px;
    }

    .app__category-item > figcaption {
        font-size: 8px;
    }

    .app__category-item-icon {
        font-size: 16px;
        padding-bottom: 8px;
    }

    .row{
        margin-right: 0;
    }

    .app__selection-item.col {
        padding-left: 8px;
    }

    .app__content-title,
    .app__destinations-title {
        font-size: 16px;
    }

    .app__selection-item-img {
        width: 100%;
    }

    .app__selection-item-desc {
        font-size: 12px;
        left: 16px;
        bottom: 12px;
    }

    .app__background-theme-img {
        border-radius: 0;
    }

    .app__background-theme-desc {
        left: 36px;
    }

    .app__background-theme-title {
        font-size: 20px;
    }

    .app__background-theme-detail {
        font-size: 12px;
    }

    .app__inspiration-item__img {
        padding: 8px;
    }

    .app__inspiration-margin {
        justify-content: space-around;
        margin: 20px auto 32px;
    }

    .app__inspiration-item-title {
        font-size: 12px;
        line-height: 1.5;
    }

    .app__inspiration-item-desc,
    .app__inspiration-item-view {
        font-size: 8px;
        line-height: 1.5;
    }

    .app__inspiration-item-view {
        padding-bottom: 8px;
    }

    .app__footer-contact-title {
        font-size: 16px;
    }

    .app__footer-contact-input {
        width: 320px;
        height: 40px;
        margin: 16px auto 28px;
        justify-content: space-around;
    }

    .app__footer-input > input {
        width: 200px;
        font-size: 8px;
        padding-left: 0;
    }

    .app__footer-list-item-link {
        font-size: 8px;
    }

    .app__footer-btn {
        font-size: 8px;
        padding-right: 0;
    }

    .app__footer-btn > .app__search-btn {
        padding: 10px 16px;
    }    

    .app__footer-socials-item {
        font-size: 16px;
    }

    .app__footer-copyright {
        font-size: 8px;
        padding-top: 0;
    }

    .mobile-offset-4 {
        margin-left: 33.33333%;
    }
}