* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.app__header {
    background: url(../../assets/img/home_page/home_page.png) top center / cover no-repeat;
    display: block;
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}

.app__nav-item:first-child .app__nav-item-link {
    color: var(--white-color);
}

/* Header title */
.app__title {
    color: var(--white-color);
    line-height: 1.5;
    margin-top: 68px;
}

.app__title > h1 {
    word-spacing: 8px;
    font-size: 88px;
}

.app__title > h2 {
    font-size: 52px;
}

/* Header search */
.app__search-list {
    height: 60px;
    list-style: none;
    margin-top: 64px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.4);
}

.app__search-item {
    display: flex;
    font-size: 16px;
    padding: 8px 0;
}

.app__search-item:nth-child(2),
.app__search-item:nth-child(3) {
    width: 140px;
}

.app__search-item:hover .app__search-icon,
.app__search-item:hover .app__status-in,
.app__search-item:hover .app__status-out,
.app__search-item:hover .app__search-quantity
{
    color: var(--white-color);
}

.app__search-icon-link {
    text-decoration: none;
    padding-right: 4px;
}

.app__search-icon {
    color: var(--search-color);
}

.app__search-item > input {
    width: 320px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--white-color);
    background-color: transparent;
}

.app__search-item > input::placeholder {
    color: var(--search-color);
}

.app__status-in,
.app__status-out,
.app__search-quantity {
    color: var(--search-color);
    cursor: pointer;
}

.app__search-quantity {
    min-width: 140px;
}

.app__search-item > input[type=date] {
    width: 120px;
    padding-left: 8px;
    font-family: Helvetica, sans-serif;
}

.app__search-item > input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1); 
}

.toast-message-in,
.toast-message-out {
    left: 50%;
    top: 72px;
    width: 200%;
    color: red;
    display: none;
    font-size: 12px;
    border-radius: 8px;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
}

.app__check-status {
    display: none;
}

.app__search-btn {
    text-decoration: none;
    background-color: #fff;
    color: #2659C3;
    font-size: 16px;
    font-weight: 550;
    border: none;
    padding: 12px 40px;
    border-radius: 24px;
}

.app__search-btn:hover {
    background-color: rgb(255, 255, 255, 0.7);
}

.app__search-item:nth-child(1),
.app__search-item:nth-child(4) {
    position: relative;
}

/* Search history */
.app__search-history {
    position: absolute;
    top: calc(100% + 16px);
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    overflow: hidden;
    z-index: 1;
    display: none;
}

.app__search-history-heading {
    margin: 6px 12px;
    font-size: 16px;
    color: #999;
    font-weight: 400;
}

.app__search-history-list {
    padding-left: 0;
    list-style: none;
}

.app__search-history-item {
    cursor: pointer;
    line-height: 32px;
    height: 32px;
    padding: 0 12px;
}

.app__search-history-item:hover {
    background-color: #e9e9e9;
}

.app__search-history-item > a {
    text-decoration: none;
    font-size: 14px;
    line-height: 32px;
    color: var(--black-color);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box-quantity {
    position: absolute;
    width: 120%;
    top: 28px;
    right: 50%;
    transform: translateX(50%);
    padding: 16px;
    border-radius: 8px;
    background-color: var(--white-color);
    display: none;
}

.box-quantity__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.box-quantity__item div {
    min-width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-minus-people, .btn-add-people,
.btn-minus-bed, .btn-add-bed{
    cursor: pointer;
    min-width: 32px;
    min-height: 32px;
    outline: none;
}

.amount-people, .amount-bed {
    padding: 0 8px;
}

.btn-accept {
    width: 100%;
    padding: 8px;
    color: blue;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    border: 1px solid blue;
}

.btn-accept:hover {
    background-color: rgba(0, 0, 255, 0.1);
}

.app__search-option-input:checked ~ .box-quantity {
    display: block;
}

/* Header category */
.app__categories-title {
    text-align: center;
    color: var(--white-color);
    font-size: 32px;
}

.app__category-item {
    text-align: center;
    cursor: pointer;
    color: var(--search-color);
}

.app__category-item:hover {
    color: var(--white-color);
}

.app__category-item-icon {
    font-size: 32px;
    padding-bottom: 24px;
}

.app__category-item > figcaption {
    font-size: 20px;
}

.app__category--active .app__category-item-icon,
.app__category--active figcaption {
    color: var(--white-color);
}

/* Contain main */
.app__content-main {
    display: none;
}

.app__home-location {
    margin-top: 48px;
    display: block;
}

.app__home-location .row {
    align-items: center;
    flex-flow: row;
    min-height: 424px;
    max-width: 1224px;
    overflow-x: auto;
}

.app__home-location .row::-webkit-scrollbar { 
    display: none;
}

.home-location-item {
    display: block;
    position: relative;
    text-decoration: none;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.home-location-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 5%);
}

.home-location-item__img {
    width: 100%;
    height: 184px;
    border-radius: 24px;
    padding: 16px;
}

.home-location-item__schedule {
    display: flex;
    margin: 20px 12px;
    justify-content: space-between;
    color: var(--text-color);
    text-align: center;
}

.home-location-item > div span > figcaption {
    font-size: 10px;
}

.home-location-item__detail {
    display: block;
    font-size: 12px;
    margin: 0px 28px 8px;
    color: var(--text-color);
}

.home-location-item__detail li {
    padding: 4px 0;
}

.home-location-item__price {
    margin: 0 12px;
    padding: 4px 12px;
    color: var(--black-color);
}

.home-location-item__price-old {
    font-size: 12px;
    text-decoration: line-through;
}

.home-location-item__price-current {
    font-size: 20px;
    margin-left: 20px;
}

.home-location-item__price span:last-child {
    color: var(--text-color);
    font-size: 12px;
}

/* Selection */
h3, p {
    margin-bottom: 0;
}

.app__selection-title,
.app__inspiration-title {
    text-align: center;
    font-size: 32px;
    color: var(--black-color);
    margin-bottom: 28px;
}

.app__selection-item {
    cursor: pointer;
    position: relative;
    transition: transform 0.2s ease-in;
}

.app__selection-item:hover {
    transform: scale(1.03);
}

.app__selection-item-link {
    text-decoration: none;
}

.app__selection-item-img {
    width: 280px;
    border-radius: 8px;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
}

.app__selection-item-desc {
    position: absolute;
    bottom: 20px;
    left: 28px;
    color: var(--white-color);
    font-size: 20px;
}

/* Content background theme */
.app__background-theme {
    margin-top: 80px;
    position: relative;
}

.app__background-theme-link {
    text-decoration: none;
}

.app__background-theme-img {
    width: 100%;
    background-size: cover;
    border-radius: 16px;
}

.app__background-theme-desc {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    color: var(--white-color);
    line-height: 1.5;
}

.app__background-theme-title {
    font-size: 52px;
}

.app__background-theme-detail {
    font-size: 36px;
    font-weight: 300;
}

/* Content inspiration */
.app__inspiration {
    margin: 48px auto 80px;
}

.app__inspiration-item {
    display: block;
    position: relative;
    text-decoration: none;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.app__inspiration-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 5%);
}

.app__inspiration-item__img {
    width: 100%;
    border-radius: 24px;
    padding: 12px 12px 4px;
}

.app__inspiration-item-info {
    padding-left: 12px;
}

.app__inspiration-item-title {
    color: var(--black-color);
    font-size: 20px;
}

.app__inspiration-item-desc,
.app__inspiration-item-view {
    line-height: 1.4;
    color: var(--text-color);
    display: block;
}

.app__inspiration-item-view {
    padding-bottom: 12px;
}

.app__inspiration .col.large {
    height: 630px;
}

.app__inspiration .col.large .app__inspiration-item__img {
    height: 550px;
}

.app__inspiration .col:last-child a:first-child .app__inspiration-item__img {
    height: 250px;
}

.app__inspiration .col:last-child .row:last-child {
    margin-top: 12px;
}

.app__inspiration .col:last-child .row:last-child .app__inspiration-item__img {
    width: 100%;
    height: 200px;
}

.back-to-top {
    display: none;
    width: 40px;
    right: 16px;
    height: 40px;
    bottom: 32px;
    position: fixed;
    text-align: center;
    border-radius: 10%;
    color: var(--text-color);
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
    background-color: rgba(255, 255, 255, 0.4);

    z-index: 10000;
}

.back-to-top:hover {
    color: black;
    transition: all .5s;
}

.back-to-top i {
    line-height: 40px;
}

/* Footer */
.app__footer {
    background: url(../../assets/img/background/Frame_98.png) top center / cover no-repeat;
}

.app__footer-contact {
    text-align: center;
    padding-top: 48px;
}

.app__footer-contact-title {
    font-size: 24px;
    color: var(--white-color);
}

.app__footer-contact-input {
    width: 500px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px auto 48px; 
}

.app__footer-input > input {
    width: 300px;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 24px;
    background-color: transparent;
}

.app__footer-input > input::placeholder {
    color: var(--black-color);
}

.app__footer-btn {
    padding-right: 24px;
}

.app__footer-btn > .app__search-btn {
    padding: 12px 24px;
}

.app__footer-list {
    list-style: none;
}

.app__footer-list-item-link {
    text-decoration: none;
    color: var(--white-color);
    line-height: 2;
}

.app__footer-list-item-link:hover {
    color: rgb(46, 179, 189);
}

.app__footer-socials-list {
    list-style: none;
    display:flex;
    flex-direction: row-reverse;
    margin-right: 32px;
}

.app__footer-socials-item {
    font-size: 24px;
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.app__footer-socials-item:hover .app__footer-socials-item-icon {
    color: var(--white-color);
    transform: scale(1.1);
}

.app__footer-socials-item-link {
    text-decoration: none;
}

.app__footer-socials-item-icon {
    color: var(--search-color);
}

.app__footer-copyright {
    text-align: center;
    font-size: 16px;
    color: var(--search-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Responsive */
.app__nav-bars-btn {
    display: none;
}

.app__nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    animation: fadeIn 0.2s linear;
}

.app__nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 300px;
    max-width: 100%;
    background-color: var(--white-color);
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.2s linear;
}

.app__nav-mobile-list {
    margin-top: 52px;
    list-style: none;
}

.app__nav-mobile-item-link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 20px;
    display: block;
    padding: 8px 24px;
}

.app__nav-mobile-item-link:active {
    color: red;
}

.app__nav-mobile-close {
    position: absolute;
    top: 8px;
    right: 24px;
    font-size: 40px;
    display: block;
    padding: 8px 16px;
    color: var(--black-color);
}

.app__nav-mobile-input:checked ~ .app__nav-overlay {
    display: block;
}

.app__nav-mobile-input:checked ~ .app__nav-mobile {
    transform: translateX(0);
    opacity: 1;
}