* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login__content {
    background: url(../../assets/img/background/Property_sign_in.png) top center / cover no-repeat;
    display: block;
    height: 100vh;
    position: relative;
}

.login_main-content {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.form-group {
    margin-top: 16px;
}

.form-title {
    font-size: 24px;
}

.remember {
    display: flex;
    padding: 0 0 16px;
}

.form-remember-text {
    color: var(--white-color);
    padding: 4px 8px;
    cursor: pointer;
}