* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation */
.app__header {
    background-color: #08536B;
}

.app__nav {
    height: var(--navbar-height);
    position: relative;
}

.app__nav-name-link {
    text-decoration: none;
}

.app__nav-name-icon {
    height: var(--navbar-height);
}

.app__nav-list {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    list-style: none;
}

.app__nav-item {
    transition: all 0.2s linear;
    padding: 8px;
}

.app__nav-item + .app__nav-item {
    margin-left: 20px;
}

.app__nav-item:last-child {
    font-weight: 600;
    margin-right: -8px;
}


.app__nav-item-link {
    font-size: 20px;
    text-decoration: none;
    color: var(--search-color);
}

.app__nav-item-link:hover {
    color: var(--white-color);
}

.app__content {
    margin: 60px auto;
}

.app__content .col.l-3 {
    border-right: 1px solid #000;
}

.app__content .col.l-9 {
    padding-left: 24px;
}

.app__sidebar-list {
    list-style: none;
    font-size: 20px;
    line-height: 40px;
}

.app__sidebar-item {
    cursor: pointer;
}

.app__sidebar-item.app__sidebar-item--active {
    font-weight: 600;
}

/* Your Account */
.app__main-img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 4px;
}

.form-detail {
    margin-top: 20px;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    padding-bottom: 4px;
    line-height: 1.5;
    font-size: 20px;
}

.form-control {
    height: 36px;
    outline: none;
    font-size: 16px;
    max-width: 400px;
    padding: 8px 12px;
    border-radius: 4px;
    color: var(--black-color);
    border: 1px solid var(--black-color);
    background-color: #e6e6e6;
}

.form-group > input::placeholder {
    color: var(--text-color);
}

.form-control:hover {
    border-color: #1dbfaf;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 12px;
    line-height: 16px;
    padding: 4px 0 0;
}

.form-edit, .btn-accept {
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    margin-bottom: 12px;
    background-color: #1dbfaf;
}

.form-edit:hover, .btn-accept:hover {
    background-color: #1ac7b6;
}

.btn-accept {
    display: none;
}

/* View all bookings */
.app__view-message {
    display: block;
    margin-bottom: 24px;
    font-size: 28px;
}

.btn-view {
    cursor: pointer;
    padding: 12px 80px;
    background-color: #08536B;
}

.btn-view:hover {
    background-color: #052a37;
}

.app__view-link {
    color: var(--white-color);
    font-size: 24px;
    text-decoration: none;
}

.app__view-list {

}

.app__view-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.app__view-item {

}

.app__view-img {

}

.app__view-item-info {

}

.app__view-item-title {

}

.app__view-item-desc {

}

.app__view-item-status {

}

.app__view-item-price {

}