:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --navbar-height: 100px;
    --text-color: rgba(255, 255, 255, 0.7);
}

* {
    box-sizing: inherit;
}

html {
    font-family: Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.app__margin-top-48 {
    margin-top: 48px;
}

.app__margin-top-28 {
    margin-top: 28px;
}

.app__margin-top-16 {
    margin-top: 16px;
}

.app__margin-top-8 {
    margin-top: 8px;
}

/* Navigation */
.app__nav {
    height: var(--navbar-height);
    position: relative;
}

.app__nav-name-link {
    text-decoration: none;
}

.app__nav-name-icon {
    height: var(--navbar-height);
}

.app__nav-list {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    list-style: none;
}

.app__nav-item {
    transition: all 0.2s linear;
    padding: 8px;
}

.app__nav-item + .app__nav-item {
    margin-left: 20px;
}

.app__nav-item:last-child {
    font-weight: 600;
    margin-right: -8px;
}


.app__nav-item-link {
    font-size: 20px;
    text-decoration: none;
    color: var(--text-color);
}

.app__nav-item-link:hover {
    color: var(--white-color);
}

/* Header title */
.app__title {
    color: var(--white-color);
    line-height: 1.5;
    margin-top: 44px;
}

.app__title > h1 {
    word-spacing: 8px;
    font-size: 88px;
}

.app__title > h2 {
    font-size: 52px;
}

/* Header search */
.app__search-list {
    height: 60px;
    margin-top: 40px;
    list-style: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.4);
}

.app__search-item {
    display: flex;
    font-size: 16px;
    padding: 8px 0;
    text-align: center;
}

.app__search-item:hover .app__search-icon,
.app__search-item:hover .app__status-in,
.app__search-item:hover .app__status-out,
.app__search-item:hover .app__search-option-number
{
    color: var(--white-color);
}

.app__search-icon-link {
    text-decoration: none;
    padding-right: 4px;
}

.app__search-icon {
    color: var(--text-color);
}

.app__search-item > input {
    width: 320px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--white-color);
    background-color: transparent;
}

.app__search-item > input::placeholder {
    color: var(--text-color);
}

.app__status-in,
.app__status-out,
.app__search-option-number {
    color: var(--text-color);
    cursor: pointer;
}

.app__search-item > input[type=date] {
    width: 120px;
    padding-left: 8px;
    font-family: Helvetica, sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1); 
}

.app__check-status {
    display: none;
}

.app__search-btn {
    cursor: pointer;
    color: #2659C3;
    font-size: 16px;
    font-weight: 550;
    border: none;
    padding: 12px 40px;
    border-radius: 24px;
}

.app__search-btn:hover {
    background-color: rgb(255, 255, 255, 0.7);
}

.app__search-item:nth-child(4) {
    position: relative;
}

.app__search-item__option {
    position: absolute;
    width: 140%;
    top: 28px;
    right: 50%;
    transform: translateX(50%);
    padding: 16px;
    border-radius: 8px;
    background-color: var(--white-color);
    display: none;
}

.option__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.app__search-number {
    min-width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-minus-people, .btn-add-people,
.btn-minus-room, .btn-add-room{
    cursor: pointer;
    min-width: 32px;
    min-height: 32px;
    outline: none;
}

.amount-people, .amount-room {
    padding: 0 8px;
}

.btn-selected {
    width: 100%;
    padding: 8px;
    color: blue;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    border: 1px solid blue;
}

.btn-selected:hover {
    background-color: rgba(0, 0, 255, 0.1);
}

.app__search-option-input:checked ~ .app__search-item__option {
    display: block;
}

/* Header category */
.app__categories-title {
    text-align: center;
    color: var(--white-color);
    font-size: 32px;
}

.app__category-list {
    padding-top: 48px;
    padding-bottom: 48px;
}

.app__category-item {
    text-align: center;
}

.app__category-item-link {
    text-decoration: none;
    color: var(--text-color);
}

.app__category-item-link:hover {
    color: var(--white-color);
}

.app__category-item-icon {
    font-size: 32px;
    padding-bottom: 24px;
}

.app__category-item-link > figcaption {
    font-size: 20px;
}

.app__content-title,
.app__destinations-title {
    text-align: center;
    color: var(--black-color);
    font-size: 32px;
}

.app__selection-item {
    cursor: pointer;
    position: relative;
    transition: transform 0.2s ease-in;
}

.app__selection-item:hover {
    transform: scale(1.03);
}

.app__selection-item-link {
    text-decoration: none;
}

.app__selection-item-img {
    width: 280px;
    border-radius: 8px;
}

.app__selection-item-desc {
    position: absolute;
    bottom: 20px;
    left: 28px;
    color: var(--white-color);
    font-size: 24px;
}

#app__go-home {
    display: none;
}

.app__go-home-link {
    text-decoration: none;
    position: fixed;
    bottom: 36px;
    right: 28px;
    z-index: 999;
}

.app__go-home-icon {
    font-size: 40px;
    color: rgba(115, 244, 130, 0.4);
    padding: 8px;
}

.app__go-home-icon:hover {
    color: rgba(0, 136, 16, 0.7);
}

.app__footer-contact {
    text-align: center;
    padding-top: 48px;
}

.app__footer-contact-title {
    font-size: 24px;
    color: var(--white-color);
}

.app__footer-contact-input {
    width: 500px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto 80px; 
}

.app__footer-input > input {
    width: 300px;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 24px;
    background-color: transparent;
}

.app__footer-input > input::placeholder {
    color: var(--black-color);
}

.app__footer-btn {
    padding-right: 24px;
}

.app__footer-btn > .app__search-btn {
    padding: 12px 24px;
}

.app__footer-list {
    list-style: none;
}

.app__footer-list-item-link {
    text-decoration: none;
    color: var(--white-color);
    line-height: 2;
}

.app__footer-socials-list {
    list-style: none;
    display:flex;
    flex-direction: row-reverse;
    margin-right: 32px;
}

.app__footer-list-item-link:hover {
    color: rgb(46, 179, 189);
}

.app__footer-socials-item {
    font-size: 24px;
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.app__footer-socials-item:hover .app__footer-socials-item-icon {
    color: var(--white-color);
    transform: scale(1.1);
}

.app__footer-socials-item-link {
    text-decoration: none;
}

.app__footer-socials-item-icon {
    color: var(--text-color);
}

.app__footer-copyright {
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
    padding-top: 32px;
    padding-bottom: 32px;
}

.plan-btn {
    text-decoration: none;
    background-color: #6c94b9;
    padding: 12px 20px;
    border-radius: 8px;
    color: var(--white-color);
}

.plan-btn:hover {
    background-color: #1167b7;
}

/* Form */
.form {
    width: 420px;
    display: flex;
    flex-direction: column;
    padding: 80px 60px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.15);;
}

.form-title {
    color: var(--white-color);
    font-size: 28px;
    line-height: 1.3;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group + .form-group {
    margin-bottom: 16px;
}

.form-control {
    border: none;
    outline: none;
    padding: 4px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--white-color);
    background-color: transparent;
    border-bottom: 1px solid #fff;
}

.form-control::placeholder {
    color: var(--white-color);
}

.input-control {
    cursor: pointer;
}

.form-message {
    font-size: 12px;
    line-height: 16px;
    padding: 4px 0 0;
}

.form-btn {
    display: block;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    color: var(--white-color);
    text-transform: uppercase;
    background-color: #597B9B;
}

.form-btn:hover {
    background-color: #115696;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}