:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: rgba(0, 0, 0, 0.5);
    --navbar-height: 100px;
    --search-color: rgba(255, 255, 255, 0.7);
}

* {
    box-sizing: inherit;
}

html {
    font-family: Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.app__go-home-link {
    text-decoration: none;
    position: fixed;
    bottom: 36px;
    right: 28px;
    z-index: 999;
}

.app__go-home-icon {
    font-size: 40px;
    color: rgba(115, 244, 130, 0.4);
    padding: 8px;
}

.app__go-home-icon:hover {
    color: rgba(0, 136, 16, 0.7);
}

.plan-btn {
    text-decoration: none;
    background-color: #6c94b9;
    padding: 12px 20px;
    border-radius: 8px;
    color: var(--white-color);
}

.plan-btn:hover {
    background-color: #1167b7;
}

/* Form */
.form {
    width: 420px;
    display: flex;
    flex-direction: column;
    padding: 80px 60px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.15);;
}

.form-title {
    color: var(--white-color);
    font-size: 28px;
    line-height: 1.3;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group + .form-group {
    margin-bottom: 16px;
}

.form-control {
    border: none;
    outline: none;
    padding: 4px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--white-color);
    background-color: transparent;
    border-bottom: 1px solid #fff;
}

.form-control::placeholder {
    color: var(--white-color);
}

.input-control {
    cursor: pointer;
}

.form-message {
    font-size: 12px;
    line-height: 16px;
    padding: 4px 0 0;
}

.form-btn {
    display: block;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    color: var(--white-color);
    text-transform: uppercase;
    background-color: #597B9B;
}

.form-btn:hover {
    background-color: #115696;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}