:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --navbar-height: 100px;
    --text-color: rgba(255, 255, 255, 0.7);
}

* {
    box-sizing: inherit;
}

html {
    font-family: Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.app__content-tittle {
    color: var(--black-color);
    font-size: 24px;
}

.app__margin-top-48 {
    margin-top: 48px;
}

.app__margin-top-28 {
    margin-top: 28px;
}

.app__margin-top-16 {
    margin-top: 16px;
}

.app__selection-item {
    cursor: pointer;
    position: relative;
    transition: transform 0.2s ease-in;
}

.app__selection-item:hover {
    transform: scale(1.03);
}

.app__selection-item-link {
    text-decoration: none;
}

.app__selection-item-img {
    width: 280px;
    border-radius: 8px;
}

.app__selection-item-desc {
    position: absolute;
    bottom: 20px;
    left: 28px;
    color: var(--white-color);
}

#app__go-home {
    display: none;
}

.app__go-home-link {
    text-decoration: none;
    position: fixed;
    bottom: 36px;
    right: 28px;
    z-index: 999;
}

.app__go-home-icon {
    font-size: 40px;
    color: rgba(115, 244, 130, 0.4);
    padding: 8px;
}

.app__go-home-icon:hover {
    color: rgba(0, 136, 16, 0.7);
}

.app__footer-contact {
    text-align: center;
    padding-top: 48px;
}

.app__footer-contact-tittle {
    font-size: 24px;
    color: var(--white-color);
}

.app__footer-contact-input {
    width: 500px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 36px auto 80px; 
}

.app__footer-input > input {
    width: 300px;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 32px;
    color: var(-black-color);
    background-color: transparent;
}

.app__footer-input > input::placeholder {
    color: var(--black-color);
}

.app__footer-btn {
    padding-right: 32px;
}

.app__footer-list {
    list-style: none;
}

.app__footer-list-item-link {
    text-decoration: none;
    color: var(--white-color);
    line-height: 2;
}

.app__footer-socials-list {
    list-style: none;
    display:flex;
    flex-direction: row-reverse;
    margin-right: 32px;
}

.app__footer-list-item-link:hover {
    color: rgb(46, 179, 189);
}

.app__footer-socials-item {
    font-size: 24px;
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.app__footer-socials-item:hover .app__footer-socials-item-icon {
    color: var(--white-color);
    transform: scale(1.1);
}

.app__footer-socials-item-link {
    text-decoration: none;
}

.app__footer-socials-item-icon {
    color: var(--text-color);
}

.app__footer-copyright {
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
    padding-top: 32px;
    padding-bottom: 32px;
}