.app__footer-contact-title {
    font-size: 24px;
    color: var(--white-color);
}

.app__footer-contact-input {
    width: 500px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px auto 48px; 
}

.app__footer-input > input {
    width: 300px;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 24px;
    background-color: transparent;
}

.app__footer-input > input::placeholder {
    color: var(--black-color);
}

.app__footer-btn {
    padding-right: 24px;
}

.app__footer-btn > .app__search-btn {
    padding: 12px 24px;
}

.app__footer-list {
    list-style: none;
}

.app__footer-list-item-link {
    text-decoration: none;
    color: var(--white-color);
    line-height: 2;
}

.app__footer-socials-list {
    list-style: none;
    display:flex;
    flex-direction: row-reverse;
    margin-right: 32px;
}

.app__footer-list-item-link:hover {
    color: rgb(46, 179, 189);
}

.app__footer-socials-item {
    font-size: 24px;
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.app__footer-socials-item:hover .app__footer-socials-item-icon {
    color: var(--white-color);
    transform: scale(1.1);
}

.app__footer-socials-item-link {
    text-decoration: none;
}

.app__footer-socials-item-icon {
    color: var(--search-color);
}

.app__footer-copyright {
    text-align: center;
    font-size: 16px;
    color: var(--search-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Mobile & tablet */
@media (max-width: 1023px) {
    
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .app__footer-contact-input {
        width: 444px;
        height: 48px;
        margin: 16px auto 24px;
    }

    .app__footer-input > input {
        width: 225px;
        font-size: 12px;    
        padding-left: 8px;
    }

    .app__footer-btn {
        padding-right: 8px;
    }

    .app__footer-list-item-link {
        font-size: 12px;
    }

    .app__footer-copyright {
        padding-top: 8px;
        padding-bottom: 20px;
    }
}

/* Mobile*/
@media (max-width: 739px) {
    .app__footer-contact-title {
        font-size: 16px;
    }

    .app__footer-contact-input {
        width: 320px;
        height: 40px;
        margin: 16px auto 28px;
        justify-content: space-around;
    }

    .app__footer-input > input {
        width: 200px;
        font-size: 8px;
        padding-left: 0;
    }

    .app__footer-list-item-link {
        font-size: 8px;
    }

    .app__footer-btn {
        font-size: 8px;
        padding-right: 0;
    }

    .app__footer-btn > .app__search-btn {
        padding: 10px 16px;
    }    

    .app__footer-socials-item {
        font-size: 16px;
    }

    .app__footer-copyright {
        font-size: 8px;
        padding-top: 0;
    }
}