/* Mobile & tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .app__nav,
    .app__nav-name-icon {
        height: 80px;
    }

    .app__nav-bars-btn {
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
        font-size: 32px;
        padding: 8px;
        color: var(--white-color);
        display: block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .app__footer-contact-input {
        width: 428px;
        margin: 28px auto 36px;
    }

    .app__footer-input > input {
        width: 250px;
        padding-left: 16px;
    }

    .app__footer-btn {
        padding-right: 16px;
    }

    .app__search-btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    .app__category-item:nth-child(4),
    .app__category-item:nth-child(5),
    .app__category-item:nth-child(6) {
        margin-top: 32px;
    }

    .app__margin-top-28 {
        text-align: center;
    }

    .app__selection-item:nth-child(3),
    .app__selection-item:nth-child(4) {
        margin-top: 16px;
    }

    .app__background-theme-desc {
        position: absolute;
        top: 50%;
        left: 100px;
        transform: translateY(-50%);
        color: var(--white-color);
        line-height: 1.5;
    }
    
    .app__background-theme-title {
        font-size: 32px;
    }
    
    .app__background-theme-detail {
        font-size: 20px;
        font-weight: 300;
    }

    .app__inspiration-item__img {
        width: 100%;
        height: 100%;
        padding: 0;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .app__inspiration-item__info {
        padding: 0 8px 8px;
        line-height: 1.5;
    }
    
    .app__inspiration-item__info-tittle {
        color: var(--black-color);
        font-size: 16px;
        display: block;
    }
    
    .app__inspiration-item__info-desc {
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        display: block;
    }

    .app__footer--order {
        order: 1;
    }

    .app__footer-copyright {
        padding-top: 8px;
        padding-bottom: 20px;
    }
}

/* Mobile*/
@media (max-width: 739px) {
    
}