/* Mobile & tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile*/
@media (max-width: 739px) {
    .form-title {
        font-size: 20px;
    }

    .form {
        width: 300px;
        padding: 24px 20px;
    }

    .login__main-property {
        font-size: 14px;
    }
}