/* Mobile & tablet */
@media (max-width: 1023px) {
    
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .app__home-location .row .col:nth-child(3),
    .app__home-location .row .col:nth-child(4) {
        margin-top: 16px;
    }

    .app__home-location-title {
        font-size: 24px;
    }

    .home-location-item__img {
        width: 314px;
    }
}

/* Mobile*/
@media (max-width: 739px) {
    .row{
        margin-right: 0;
    }
    
    .app__home-location-title {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .home-location-item,
    .home-viewed__img {
        height: 268px;
        width: 192px;
    }

    .home-location-item__img {
        width: 192px;
        height: 116px;
        padding: 8px;
    }

    .home-location-item__title,
    .schedule__item-icon {
        font-size: 12px;
    }

    .home-location-item__schedule {
        margin: 8px 12px;
    }

    .home-location-item__desc,
    .schedule__item > figcaption,
    .home-location-item__price-old, 
    .home-location-item__price span:last-child {
        font-size: 8px;
    }

    .home-location-item__detail {
        margin-bottom: 0;
    }
    
    .home-location-item__detail li {
        padding: 2px 0;
        font-size: 8px;
    }

    .home-location-item__price-current {
        font-size: 12px;
        margin-left: 8px;
    }

    .home-location-item__favourite,
    .home-location-item__favourite--active {
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 16px;
    }
}