* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.app__header {
    background: url(../../assets/img/home_page/home_page.png) top center / cover no-repeat;
    display: block;
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}

.app__nav-item:first-child .app__nav-item-link{
    color: var(--white-color);
}

.app__content-beach,
.app__content-mountain,
.app__content-iconic-city,
.app__content-countryside,
.app__content-camping,
.app__content-tropical {
    display: none;
}

/* Selection */
.app__destinations,
.app__browse,
.app__categories {
    display: block;
    margin-top: 48px;
}

.app__selection-title,
.app__inspiration-title {
    text-align: center;
    font-size: 32px;
    color: var(--black-color);
    margin-bottom: 28px;
}

.app__selection-item {
    cursor: pointer;
    position: relative;
    transition: transform 0.2s ease-in;
}

.app__selection-item:hover {
    transform: scale(1.03);
}

.app__selection-item-link {
    text-decoration: none;
}

.app__selection-item-img {
    width: 280px;
    border-radius: 8px;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
}

.app__selection-item-desc {
    position: absolute;
    bottom: 20px;
    left: 28px;
    color: var(--white-color);
    font-size: 20px;
}

/* Content background theme */
.app__background-theme {
    margin-top: 80px;
    position: relative;
}

.app__background-theme-link {
    text-decoration: none;
}

.app__background-theme-img {
    width: 100%;
    background-size: cover;
    border-radius: 16px;
}

.app__background-theme-desc {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    color: var(--white-color);
    line-height: 1.5;
}

.app__background-theme-title {
    font-size: 52px;
}

.app__background-theme-detail {
    font-size: 36px;
    font-weight: 300;
}

/* Content inspiration */
.app__inspiration {
    margin: 24px auto 80px;
}

.app__inspiration-item {
    display: block;
    position: relative;
    text-decoration: none;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.app__inspiration-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 5%);
}

.app__inspiration-item__img {
    width: 100%;
    border-radius: 24px;
    padding: 12px 12px 4px;
}

.app__inspiration-item-info {
    padding-left: 12px;
}

.app__inspiration-item-title {
    color: var(--black-color);
    font-size: 20px;
}

.app__inspiration-item-desc,
.app__inspiration-item-view {
    line-height: 1.4;
    color: var(--text-color);
    display: block;
}

.app__inspiration-item-view {
    padding-bottom: 12px;
}

.app__inspiration .col.large {
    height: 630px;
}

.app__inspiration .col.large .app__inspiration-item__img {
    height: 546px;
}

.app__inspiration .col:last-child a:first-child .app__inspiration-item__img {
    height: 250px;
}

.app__inspiration .col:last-child .row:last-child {
    margin-top: 12px;
}

.app__inspiration .col:last-child .row:last-child .app__inspiration-item__img {
    width: 100%;
    height: 200px;
}

/* Footer */
.app__footer {
    background: url(../../assets/img/background/Frame_98.png) top center / cover no-repeat;
}